html {
    background-color: #00031F;
    color: white;
    font-family: 'Manrope', sans-serif;
}

footer {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    display: inline-block
}

.catagories {
    width: 307px;
    height: 176px;
}

.catagories h2 {
    font-size: 20px;
}

a {
    color: white;
}

#designCat,
#createNewCat {
    background-color: #8000FF;
    ;
}

#instructionsCat,
#presetCat {
    background-color: #00BCE5;
}

#aboutCat {
    background-color: #0032E5;
}