html {
    background-color: #00031F;
    color: white;
    font-family: 'Manrope', sans-serif;
}

main {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

header {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}

.homeButton {
    float: left;
}

.topLogo {
    padding-top: 1rem;
    text-align: center;
}

.brightmindsLogo {
    display: inline-block;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    margin: 40px 10px 20px 10px;
    padding-top: 20px;
    border-top: 1px solid gray;
    font-size: 0.75rem;
}

footer p {
    font-size: 0.625rem;
    margin-top: 0.75rem;
    color: lightgray;
}

.base {
    margin: 0.75rem 0rem;
    text-align: center;
}

.base a {
    padding-right: 20px;
    margin-right: 20px;
}

h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}

h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
}

h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    line-height: normal;
}

h4 {
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    line-height: normal;
}

h5 {
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    line-height: normal;
    margin: 0;
}

h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
}

h7 {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

p {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 175%;
    margin: 0;
}

.button {
    font-size: 16px;
    font-weight: bold;
}

.about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 70px;
}

.abtMain {
    display: grid;
    text-align: center;
    grid-template-rows: 0.5fr 0.1fr 0.25fr;
    margin-left: auto;
    margin-right: auto;
}

.abtMain img {
    width: 120px;
}

.abtTxt {
    padding-left: 20px;
}

.categories {
    position: relative;
    width: 300px;
    height: 130px;
    margin: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 20px;
    font-size: 20px;
}

.categories h2 {
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

#teamTitle {
    display: block;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 20px 0px 25px 0px;
}

#designCat,
#createNewCat {
    background-color: #8000FF;
    text-align: center;
}

#instructionsCat,
#presetCat {
    background-color: #00BCE5;
    text-align: center;
}

#aboutCat {
    background-color: #0032E5;
    text-align: center;
    padding-top: 1.9rem;
}


/* #capCanvas {
    position: absolute;
    top: 150px;
    left: 50px;
} */

#cree {
    position: fixed;
    left: 0;
    top: 0;
}


/* Create Design Buttons above the canvas*/

#createTop {
    border: none;
    background-color: transparent;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#createTop img {
    border: none;
    background-color: transparent;
    width: 150%;
}

#undo {
    border: none;
    background-color: transparent;
    padding-right: 1rem;
}

#redo {
    border: none;
    background-color: transparent;
    padding-right: 1rem;
}

#rotate {
    border: none;
    background-color: transparent;
    margin-left: 3rem;
}

#editSave {
    float: right;
    padding: 1rem 1.8rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    border-style: none;
    background-color: #44A5FF;
    color: white;
}

#editSave p {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: normal;
}


/* #preview {
    border: none;
    background-color: transparent;
    color: white;
}

#preview p {
    font-size: 0.813rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
} */


/* Colorpicker */
#cp {
    width: 30%;
    float: left;
    height: 172px;
}

#cp p {
    margin-bottom: 20px;
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    padding: 10px;
}

#tools {
    margin-top: 2rem;
}

#tools p {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


/* Radiobuttons */

#pen {
    /* display: inline-block; */
    float: right;
    width: 65%;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background-color: white;
    margin-right: 2rem;
    position: relative;
}

input[type=radio]:checked {
    border-width: 6px;
    border-color: #006ED3;
    background-color: white;
}

#small {
    width: 50px;
    height: 50px;
}

#medium {
    width: 70px;
    height: 70px;
}

#large {
    width: 90px;
    height: 90px;
}

#xlarge {
    width: 110px;
    height: 110px;
}

#eraser {
    border: none;
    background-color: transparent;
}


/* Instructions */

/* #carrotMenu {
    padding-bottom: 5rem;
    display: inline-block;
}

#carrotMenu img {
    float: right;
    width: 35px;
    margin-top: 0.7rem;
    padding-right: 4rem;
} */

/* Preset cards */
#presets img{
    width: 8rem;
}

#presets div {
    display: inline-block;
    padding: 0.4rem;
    margin: 1rem 0.4rem 0.2rem 0.4rem;
    border: 0.5rem solid #4465B8;
    border-radius: 0.4rem;
}

/*Preset Modal*/
.presetModal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal {
    display: block;
    margin: auto; /* 15% from the top and centered */
    padding: 1rem;
    padding-bottom: 1.8rem;
    border-radius: 0.5rem;
    background: #0F245B;
    width: 60%; /* Could be more or less, depending on screen size */ 
    text-align: center;
}

.modal img {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}

/* Buttons: Aligns buttons */
.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

/* Connect to Cap button */
.connectButton {
    width: 12rem;
    background-color: #6FAE3D;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
  
/* The Close Button */
.closeButton {
    width: 12rem;
    background-color: #0F245B;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border: 0.05rem solid white;
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

/* Loading Cap Image within loader*/
.loading {
    display: block;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    background: url("assets/loading-cap.png") center no-repeat;
    background-size: 60%;
}

.loader {
    z-index: -1;
    border: 5px solid #00031F;
    border-top: 5px solid #44A5FF; /* Blue */
    border-right: 5px solid #44A5FF; /* Blue */
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation: spin 2s infinite;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Image div for Successful and Failed state */
.loadingIMG {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Loading message */
.message {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.message p {
    font-size: 1rem;
}

#retryButton {
    text-align: center;
    background-color: #44A5FF;
    padding: 0.9rem 3.3rem;
    margin-top: 2rem;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.05rem;
}